<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">

    <%- include("./partials/navbar.ejs") %>

    <!-- Main Content -->
    <main class="flex-grow flex items-center justify-center">
        <div>
            <h1 class="text-4xl font-bold text-gray-800">Welcome to the dashboard!</h1>
        </div>
    </main>

</body>
</html>